<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("/partials/head", {title: formData.name}); %>
        <link href="/static/css/form.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <%- include("/partials/loader") %>
        <section class="floatBox" id="errorBox" style="display: none; opacity: 0;">
            <h1 id="errorName">Error</h1>
            <p id="errorDesc">Something has gone wrong! Try again in a moment.</p>
            <button onclick="toggleErrorBox(false)">Ok</button>
        </section>
        <main>
            <form name="mainForm">
                <h1 id="fileTitle"><i><%= formData.name %></i></h1>
                <% formData.headers.forEach( inputOptions => { %>
                    <%- include("/partials/inputField", {inputOptions}); %>
                <% }) %>
                <input type="submit" value="Submit and Test"/>
                <input id="formId" value="<%= formId %>" style="display: none;">
            </form>
        </main>
        <%- include("/partials/footer"); %>
        <script src="/static/js/override.js"></script>
    </body>
</html>