<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include("/partials/head", {title: formData[0].name}); %>
    </head>
    <body>
        <div class="loadWheel"></div>
        <section class="floatBox" id="errorBox" style="display: none; opacity: 0;">
            <h1 id="errorName">Error</h1>
            <p id="errorDesc">Something has gone wrong! Try again in a moment.</p>
            <button onclick="toggleErrorBox(false)">Ok</button>
        </section>
        <main>
            <form action="/submit" enctype="application/x-www-form-urlencoded" method="POST" name="mainForm">
                <h1 id="fileTitle"><i><%= formData[0].name %></i></h1>
                <% formData.slice(1).forEach( data => { %>
                    <input name="<%=data.name.replace(/[\W_\s]/g, "").replace(/^\d+/, "").toLowerCase() %>" id="<%=data.name.replace(/[\W_\s]/g, "").replace(/^\d+/, "").toLowerCase() %>" placeholder="<%= data.name %>" type="text" <%= (data.required ? "required" : "") %> value="<%= (typeof data.defaultValue === "string" ? data.defaultValue : "") %>">
                <% }) %>
                <input type="submit" value="Submit and Test"/>
                <input name="formId" id="formId" value="<%= formId %>" style="display: none;">
            </form>
        </main>
        <%- include("/partials/footer"); %>
        <script src="/static/js/cookieFunctions.js"></script>
        <script src="/static/js/override.js"></script>
        <script src="/static/js/formSetup.js"></script>
    </body>
</html>