<div class="pseudo-label">
    <span class="sub-label" data-purpose="label">
        <%= inputOptions.displayName %>
    </span>
	<% inputOptions.choices.forEach( choice => { %>
		<label class="inline-label">
			<span class="sub-label">
					<%= choice.value %>
			</span>
			<input data-columnname="<%= inputOptions.name %>" name="<%= inputOptions.uuid %>" type="checkbox" value="<%= choice.value %>" <%= (choice.checked ? "checked" : "") %>>
			<!-- TODO: Custom Editor and Purpose for Select Subtypes -->
		</label>
	<% }) %>
	<span data-purpose="required-span" class="required-span <%- inputOptions.required ? "required-span-enabled" : "" %>">✻ Required</span>
</div>