<label class="pseudo-label">
    <span class="sub-label" data-purpose="label">
        <%= inputOptions.displayName %>
    </span>
	<span class="color-wrapper">
		<input data-bindto="<%= inputOptions.uuid %>" type="text" <%- inputOptions.attributes.value %> <%- inputOptions.attributes.placeholder %>>
		<input data-bindfrom="<%= inputOptions.uuid %>" data-columnname="<%= inputOptions.name %>" type="color" <%- inputOptions.attributes.value %> <%- inputOptions.attributes.required %>>
		<!-- TODO: Add custom editor for color inputs -->
	</span>
	<span data-purpose="required-span" class="required-span <%- inputOptions.required ? "required-span-enabled" : "" %>"></span>
</label>