<label class="pseudo-label">
    <span class="sub-label" data-purpose="label">
        <%= inputOptions.displayName %>
    </span>
	<input data-columnname="<%= inputOptions.name %>" pattern="\d{4}-\d{2}-\d{2}" placeholder="yyyy-mm-dd" type="date" <%- inputOptions.attributes.value %> <%- inputOptions.attributes.required %>>
	<span data-purpose="required-span" class="required-span <%- inputOptions.required ? "required-span-enabled" : "" %>">✻ Required</span>
	<% if(typeof editMode !== "undefined" && editMode) { %>
		<div data-purpose="input-editor-text"></div>
	<% } %>
</label>