<div class="pseudo-label">
    <span class="sub-label">
        <%= inputOptions.displayName %>
    </span>
    <label class="file-label">
        <span class="sub-label file-sub-label">Upload</span>
        <input data-columnname="<%= inputOptions.name %>" type="file" <%- inputOptions.attributes.value %> <%- inputOptions.attributes.placeholder %> <%- inputOptions.attributes.required %>>
    </label>
</div>