<label class="pseudo-label">
    <span class="sub-label">
        <%= inputOptions.displayName %>
    </span>
	<input data-columnname="<%= inputOptions.name %>" type="month" <%- inputOptions.attributes.value %> <%- inputOptions.attributes.placeholder %> <%- inputOptions.attributes.required %>>
</label>