<label>
    <span class="label">
        <%= inputOptions.displayName %>
    </span>
    <% inputOptions.choices.forEach( choice => { %>
        <label>
            <span class="label">
                <%= choice.value %>
            </span>
            <input name="<%=inputOptions.name %>" data-columnname="<%=inputOptions.name %>" type="radio" value="<%= choice.value %>" <%= (choice.default ? "checked" : "") %>>
        </label>
    <% }) %>
</label>