<div class="pseudo-label">
    <span class="sub-label">
        <%= inputOptions.displayName %>
    </span>
    <% inputOptions.choices.forEach( choice => { %>
        <label class="inline-label">
            <span class="sub-label">
                <%= choice.value %>
            </span>
            <input name="<%=inputOptions.name %>" data-columnname="<%=inputOptions.name %>" type="radio" value="<%= choice.value %>" <%= (choice.default ? "checked" : "") %>>
        </label>
    <% }) %>
</div>