<div class="pseudo-label" data-purpose="component-wrapper">
    <span class="sub-label" data-purpose="label">
        <%= inputOptions.displayName %>
    </span>
	<% inputOptions.choices.forEach( choice => { %>
	<label class="inline-label">
		<span class="sub-label">
				<%= choice.value %>
		</span>
		<input data-columnname="<%= inputOptions.name %>" name="<%= inputOptions.uuid %>" type="radio" value="<%= choice.value %>" <%= (choice.default ? "checked" : "") %>>
		<!-- TODO: Custom Editor and Purpose for Select Subtypes -->
	</label>
	<% }) %>
	<span data-purpose="required-span" class="required-span <%- inputOptions.required ? "required-span-enabled" : "" %>">✻ Required</span>
</div>