<label class="pseudo-label" data-purpose="component-wrapper">
    <span class="sub-label" data-purpose="label">
        <%= inputOptions.displayName %>
    </span>
	<input data-columnname="<%= inputOptions.name %>" type="time" <%- inputOptions.attributes.value %> <%- inputOptions.attributes.placeholder %> <%- inputOptions.attributes.required %>>
	<span data-purpose="required-span" class="required-span <%- inputOptions.required ? "required-span-enabled" : "" %>"></span>
	<% if(typeof editMode !== "undefined" && editMode) { %>
		<div data-purpose="input-editor-text"></div>
	<% } %>
</label>