<label class="pseudo-label" data-purpose="component-wrapper">
    <span class="sub-label" data-purpose="label">
        <%= inputOptions.displayName %>
    </span>
	<input data-columnname="<%= inputOptions.name %>" type="url" <%- inputOptions.attributes.value %> <%- inputOptions.attributes.placeholder %> <%- inputOptions.attributes.required %>>
</label>